In [3]:
import pandas as pd
pd.set_option('display.max_columns', 68)
pd.options.display.float_format = '{:,.2f}'.format
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as px
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.metrics import classification_report
import joblib
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.utils import to_categorical

In [1]:
import xgboost as xgb

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

In [7]:
data = pd.DataFrame(np.arange(12).reshape((4,3)), columns=['a', 'b', 'c'])
label = pd.DataFrame(np.random.randint(2, size=4))
# dtrain = xgb.DMatrix(data, label=label)

In [8]:
data

   a   b   c
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [9]:
label

   0
0  0
1  1
2  0
3  1

In [10]:
df = pd.read_csv('../Resources/final_data.csv')
df.head()

,county_name,year,min_tax_rate,avg_tax_rate,max_tax_rate,murder,rape,robbery,assault,burglary,larceny,auto_theft,avg_std_cnt_ele,avg_exp_ele,avg_score_ele,min_std_cnt_ele,min_exp_ele,min_score_ele,max_std_cnt_ele,max_exp_ele,max_score_ele,avg_std_cnt_mid,avg_exp_mid,avg_score_mid,min_std_cnt_mid,min_exp_mid,min_score_mid,max_std_cnt_mid,max_exp_mid,max_score_mid,avg_std_cnt_high,avg_exp_high,avg_score_high,min_std_cnt_high,min_exp_high,min_score_high,max_std_cnt_high,max_exp_high,max_score_high,est_pop,apr_30,points_30,apr_15,points_15,num_of_bedrooms,house_value_index,median_hh_income,poverty_count,poverty_rate
0,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,1,"81,887.96",59309,38092,14.40
1,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,2,"125,858.11",59309,38092,14.40
2,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,3,"175,185.58",59309,38092,14.40
3,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,4,"245,768.02",59309,38092,14.40
4,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,5,"398,474.97",59309,38092,14.40

In [11]:
# feature selection
X = df.drop(["house_value_index"], axis=1)
y = df["house_value_index"]
print(X.shape, y.shape)

(420, 48) (420,)

In [14]:
X["county_name"] = X["county_name"].astype("category")
X

,county_name,year,min_tax_rate,avg_tax_rate,max_tax_rate,murder,rape,robbery,assault,burglary,larceny,auto_theft,avg_std_cnt_ele,avg_exp_ele,avg_score_ele,min_std_cnt_ele,min_exp_ele,min_score_ele,max_std_cnt_ele,max_exp_ele,max_score_ele,avg_std_cnt_mid,avg_exp_mid,avg_score_mid,min_std_cnt_mid,min_exp_mid,min_score_mid,max_std_cnt_mid,max_exp_mid,max_score_mid,avg_std_cnt_high,avg_exp_high,avg_score_high,min_std_cnt_high,min_exp_high,min_score_high,max_std_cnt_high,max_exp_high,max_score_high,est_pop,apr_30,points_30,apr_15,points_15,num_of_bedrooms,median_hh_income,poverty_count,poverty_rate
0,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,1,59309,38092,14.40
1,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,2,59309,38092,14.40
2,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,3,59309,38092,14.40
3,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,4,59309,38092,14.40
4,ATLANTIC,2017,0.96,2.91,4.69,21.00,45.00,337.00,399.00,"1,159.00","4,756.00",271.00,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,625.61,"12,472.54",36.37,118,"6,322.00",2.90,2365,"19,102.00",91.30,265446,3.99,0.50,3.27,0.49,5,59309,38092,14.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,WARREN,2020,2.18,3.40,5.70,0.00,14.00,13.00,48.00,146.00,824.00,42.00,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,105624,3.11,0.73,2.60,0.69,1,80412,7539,7.30
416,WARREN,2020,2.18,3.40,5.70,0.00,14.00,13.00,48.00,146.00,824.00,42.00,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,105624,3.11,0.73,2.60,0.69,2,80412,7539,7.30
417,WARREN,2020,2.18,3.40,5.70,0.00,14.00,13.00,48.00,146.00,824.00,42.00,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,105624,3.11,0.73,2.60,0.69,3,80412,7539,7.30
418,WARREN,2020,2.18,3.40,5.70,0.00,14.00,13.00,48.00,146.00,824.00,42.00,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,105624,3.11,0.73,2.60,0.69,4,80412,7539,7.30
419,WARREN,2020,2.18,3.40,5.70,0.00,14.00,13.00,48.00,146.00,824.00,42.00,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,379.97,"13,364.82",48.39,115,"6,883.00",17.90,1730,"19,117.00",75.80,105624,3.11,0.73,2.60,0.69,5,80412,7539,7.30

In [67]:
# Split data into training and testing groups and scale data 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [72]:
dtrain = xgb.DMatrix(X_train, label=y_train, enable_categorical=True)
dtest = xgb.DMatrix(X_test, label=y_test, enable_categorical=True)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):
C:\ProgramData\Anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [76]:
param = {'max_depth': 2, 'eta': 1, 'objective': 'reg:squarederror'}
param['nthread'] = 4
param['eval_metric'] = 'rmse'

In [74]:
evallist = [(dtrain, 'train'), (dtest, 'eval')]

In [77]:
num_round = 10
bst = xgb.train(param, dtrain, num_round, evallist)

[0]	train-rmse:113141.75000	eval-rmse:114685.72656
[1]	train-rmse:96081.97656	eval-rmse:98818.03125
[2]	train-rmse:86001.43750	eval-rmse:84477.64062
[3]	train-rmse:74962.69531	eval-rmse:81739.33594
[4]	train-rmse:67828.80469	eval-rmse:80984.42969
[5]	train-rmse:65228.15234	eval-rmse:83596.98438
[6]	train-rmse:59594.76562	eval-rmse:74542.25000
[7]	train-rmse:54895.19141	eval-rmse:74614.31250
[8]	train-rmse:52607.87891	eval-rmse:72677.77344
[9]	train-rmse:51212.08984	eval-rmse:71294.23438

In [107]:
bst.best_iteration

9

In [78]:
ypred = bst.predict(dtest)

In [85]:
sgb_mse = mean_squared_error(y_test, ypred)
np.sqrt(sgb_mse)

71294.23029672948

In [105]:
bst.get_score()

{'year': 1.0,
 'avg_tax_rate': 1.0,
 'max_tax_rate': 1.0,
 'rape': 1.0,
 'burglary': 1.0,
 'auto_theft': 3.0,
 'avg_exp_ele': 1.0,
 'avg_score_ele': 1.0,
 'min_exp_ele': 1.0,
 'max_std_cnt_ele': 3.0,
 'max_score_ele': 3.0,
 'est_pop': 1.0,
 'num_of_bedrooms': 10.0,
 'median_hh_income': 2.0}

In [101]:
county='UNION'
beds=3
year = 2026
df_filtered=df[(df['county_name']==county)]
corr = df_filtered.corr()
corr.fillna(0, inplace=True)
best_array = df[(df['county_name']==county)&\
              (df['num_of_bedrooms']==beds)].tail(1)
best_array['year']=year
for i in best_array.drop(['county_name', 'year', 'house_value_index'],axis=1).columns.tolist():
    best_array[i]=abs(best_array[i]+(year-2020)*corr.loc['year',i])
best_array.reset_index(drop=True,inplace=True)
best_array

,county_name,year,min_tax_rate,avg_tax_rate,max_tax_rate,murder,rape,robbery,assault,burglary,larceny,auto_theft,avg_std_cnt_ele,avg_exp_ele,avg_score_ele,min_std_cnt_ele,min_exp_ele,min_score_ele,max_std_cnt_ele,max_exp_ele,max_score_ele,avg_std_cnt_mid,avg_exp_mid,avg_score_mid,min_std_cnt_mid,min_exp_mid,min_score_mid,max_std_cnt_mid,max_exp_mid,max_score_mid,avg_std_cnt_high,avg_exp_high,avg_score_high,min_std_cnt_high,min_exp_high,min_score_high,max_std_cnt_high,max_exp_high,max_score_high,est_pop,apr_30,points_30,apr_15,points_15,num_of_bedrooms,house_value_index,median_hh_income,poverty_count,poverty_rate
0,UNION,2026,3.17,3.32,35.14,34.58,89.61,449.34,847.78,739.03,"5,827.00","1,224.40",624.75,"9,384.13",46.98,141.53,"5,761.35",8.62,"2,176.42","15,980.00",101.25,624.75,"9,384.13",46.98,141.53,"5,761.35",8.62,"2,176.42","15,980.00",101.25,624.75,"9,384.13",46.98,141.53,"5,761.35",8.62,"2,176.42","15,980.00",101.25,"555,395.91",1.14,5.65,0.93,5.07,3.00,"377,759.26","83,194.40","50,517.44",10.30

In [102]:
best_array["county_name"] = best_array["county_name"].astype("category")

In [103]:
dpred= xgb.DMatrix(best_array.drop('house_value_index',axis=1), enable_categorical=True)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\data.py:262: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  elif isinstance(data.columns, (pd.Int64Index, pd.RangeIndex)):

In [104]:
bst.predict(dpred)

array([396483.53], dtype=float32)

In [96]:
df[(df[f'county_name']==county)&\
   (df['num_of_bedrooms']==beds)][['county_name', 'year',\
                                   'num_of_bedrooms','house_value_index']].tail(1)

    county_name  year  num_of_bedrooms  house_value_index
412       UNION  2020                3         377,759.26

## Bad model!

# SVR

In [19]:
# Split data into training and testing groups and scale data 
X_train, X_test, y_train, y_test = train_test_split(X.drop('county_name',axis=1), y, random_state=1)

In [34]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
X_scaled=X_scaler.transform(X.drop('county_name',axis=1))

In [31]:
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error
svm_reg_ln = SVR(kernel="rbf", C=10000000)
svm_reg_ln.fit(X_train_scaled, y_train)
predictions = svm_reg_ln.predict(X_test_scaled)
svm_ln_mse = mean_squared_error(y_test, predictions)
svm_ln_rmse = np.sqrt(svm_ln_mse)
print(svm_ln_rmse)

41514.33403859755

In [36]:
print(f' Training Score: {svm_reg_ln.score(X_train_scaled, y_train)}')
print(f' Testing Score: {svm_reg_ln.score(X_test_scaled, y_test)}')
print(f' Production Score: {svm_reg_ln.score(X_scaled, y)}')

 Training Score: 0.9837462179750402
 Testing Score: 0.9414240032034566
 Production Score: 0.9745851499019033

In [37]:
# Create a StandardScater model and fit it to the training data
X_scaler = StandardScaler().fit(X.drop('county_name',axis=1))
X_scaled=X_scaler.transform(X.drop('county_name',axis=1))
svm_reg_ln = SVR(kernel="rbf", C=10000000)
svm_reg_ln.fit(X_scaled, y)
print(f' Production Score: {svm_reg_ln.score(X_scaled, y)}')

 Production Score: 0.9783291568563153

In [56]:
county='UNION'
beds=3
year = 2024
df_filtered=df[(df['county_name']==county)]
corr = df_filtered.corr()
corr.fillna(0, inplace=True)
best_array = df[(df['county_name']==county)&\
              (df['num_of_bedrooms']==beds)].tail(1)
best_array['year']=year
for i in best_array.drop(['county_name', 'year', 'house_value_index'],axis=1).columns.tolist():
    best_array[i]=abs(best_array[i]+(year-2020)*corr.loc['year',i])
best_array.reset_index(drop=True,inplace=True)
best_array

,county_name,year,min_tax_rate,avg_tax_rate,max_tax_rate,murder,rape,robbery,assault,burglary,larceny,auto_theft,avg_std_cnt_ele,avg_exp_ele,avg_score_ele,min_std_cnt_ele,min_exp_ele,min_score_ele,max_std_cnt_ele,max_exp_ele,max_score_ele,avg_std_cnt_mid,avg_exp_mid,avg_score_mid,min_std_cnt_mid,min_exp_mid,min_score_mid,max_std_cnt_mid,max_exp_mid,max_score_mid,avg_std_cnt_high,avg_exp_high,avg_score_high,min_std_cnt_high,min_exp_high,min_score_high,max_std_cnt_high,max_exp_high,max_score_high,est_pop,apr_30,points_30,apr_15,points_15,num_of_bedrooms,house_value_index,median_hh_income,poverty_count,poverty_rate
0,UNION,2024,1.39,5.06,33.18,33.39,89.41,451.23,846.19,741.02,"5,828.67","1,225.93",625.19,"9,385.31",46.54,141.35,"5,762.90",7.78,"2,178.28","15,980.00",100.56,625.19,"9,385.31",46.54,141.35,"5,762.90",7.78,"2,178.28","15,980.00",100.56,625.19,"9,385.31",46.54,141.35,"5,762.90",7.78,"2,178.28","15,980.00",100.56,"555,395.27",0.28,4.01,0.25,3.61,3.00,"377,759.26","83,192.60","50,517.29",9.93

In [57]:
best_array_scaled = X_scaler.transform(best_array.drop(['county_name', 'house_value_index'],axis=1))

In [58]:
df[(df[f'county_name']==county)&\
   (df['num_of_bedrooms']==beds)][['county_name', 'year',\
                                   'num_of_bedrooms','house_value_index']].tail(1)

    county_name  year  num_of_bedrooms  house_value_index
412       UNION  2020                3         377,759.26

In [59]:
svm_reg_ln.predict(best_array_scaled)

array([645172.49772487])

In [112]:
county='UNION'
beds=2
yr = 2025
df_filtered=df[(df['county_name']==county)]
corr = df_filtered.corr()
corr.fillna(0, inplace=True)
worst_array = df[(df['county_name']==county)&\
              (df['num_of_bedrooms']==beds)].head(1)
worst_array['year']=yr
for i in worst_array.drop(['county_name', 'year', 'house_value_index'],axis=1).columns.tolist():
    worst_array[i]=abs(worst_array[i]+(year-2020)*corr.loc['year',i])
worst_array.reset_index(drop=True,inplace=True)
worst_array

,county_name,year,min_tax_rate,avg_tax_rate,max_tax_rate,murder,rape,robbery,assault,burglary,larceny,auto_theft,avg_std_cnt_ele,avg_exp_ele,avg_score_ele,min_std_cnt_ele,min_exp_ele,min_score_ele,max_std_cnt_ele,max_exp_ele,max_score_ele,avg_std_cnt_mid,avg_exp_mid,avg_score_mid,min_std_cnt_mid,min_exp_mid,min_score_mid,max_std_cnt_mid,max_exp_mid,max_score_mid,avg_std_cnt_high,avg_exp_high,avg_score_high,min_std_cnt_high,min_exp_high,min_score_high,max_std_cnt_high,max_exp_high,max_score_high,est_pop,apr_30,points_30,apr_15,points_15,num_of_bedrooms,house_value_index,median_hh_income,poverty_count,poverty_rate
0,UNION,2025,1.39,4.37,33.61,20.58,95.61,829.34,788.78,"1,607.03","7,556.00","1,435.40",624.06,"9,651.02",45.91,140.53,"6,023.35",6.32,"2,212.42","15,980.00",99.75,624.06,"9,651.02",45.91,140.53,"6,023.35",6.32,"2,212.42","15,980.00",99.75,624.06,"9,651.02",45.91,140.53,"6,023.35",6.32,"2,212.42","15,980.00",99.75,"554,696.91",0.26,5.41,0.26,4.87,2.00,"230,549.65","76,835.40","52,052.44",10.40

In [113]:
worst_array_scaled = X_scaler.transform(worst_array.drop(['county_name', 'house_value_index'],axis=1))

In [114]:
svm_reg_ln.predict(worst_array_scaled)

array([645172.49772487])

In [111]:
df[(df[f'county_name']==county)&\
   (df['num_of_bedrooms']==beds)][['county_name', 'year',\
                                   'num_of_bedrooms','house_value_index']].tail(1)

    county_name  year  num_of_bedrooms  house_value_index
411       UNION  2020                2         291,065.51

## Bad model!